on:
  workflow_call:
    inputs:
      script:
        required: true
        type: string

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Install dependencies
        run: npm ci
      - name: Run ${{ inputs.script }}
        run: npm run ${{ inputs.script }}
